@media screen and (max-width: 600px) {
	.responsive-br {
		display: none;
	}
}

#page-content .lp-form .wpcf7-response-output{
	display:none !important;
}
#benefits {
  .w-text {
      margin-bottom: 0.5rem;
  }
  img {
    max-height: 48px;
    margin-bottom: 0.5rem;
  }
}
